<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.sweetpproductions.SafariCookies</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>CFBundleShortVersionString</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>CFBundleGetInfoString</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>NSPrincipalClass</key>
	<string>SCController</string>
	<key>SUFeedURL</key>
	<string>http://sweetpproductions.com/safaricookies/appcast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
	<key>SIMBLTargetApplications</key>
	<array>
		<dict>
			<key>BundleIdentifier</key>
			<string>com.apple.Safari</string>
			<key>MinBundleVersion</key>
			<string>*</string>
			<key>MaxBundleVersion</key>
			<string>*</string>
		</dict>
		<dict>
			<key>BundleIdentifier</key>
			<string>org.webkit.nightly.WebKit</string>
			<key>MinBundleVersion</key>
			<string>*</string>
			<key>MaxBundleVersion</key>
			<string>*</string>
		</dict>
	</array>
	<key>CFBundleIconFile</key>
	<string>SafariCookies.png</string>
</dict>
</plist>
